.HamburgerModal {
  font-family: $abril;
  background: $light-lilla;
  height: 100vh;
  width: 100vw;
  position: fixed;
  right: 0;
  transform: translateX(100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
  transition: transform 1s;
  z-index: 10;
  .close {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 2rem;
  }
  a {
    color: $purple;
    z-index: 2;
    border-bottom: 0.5px solid $purple;
    cursor: pointer;
    font-size: 1.3rem;
  }
}

.show {
  transform: translateX(0px);
}
