.BubbleSection {
  padding: 20px;

  .title {
    font-family: $abril;
    color: $purple;
    margin-bottom: 13px;
  }
  .myProjects {
    overflow: auto;
    .wrapper {
      a {
        transition: transform 0.35s;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
  .myProjects,
  .appFields,
  .softSkills {
    opacity: 0;
    transform: translateY(-100%);
  }
  .myProjects,
  .appFields,
  .softSkills {
    padding: 15px 0;

    @include tablet {
      width: 80%;
    }
    .wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      .purple_bubble,
      .pink_bubble {
        height: 70px;
        width: 70px;
        border-radius: 100%;
        background-color: $purple;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.8rem;
        color: $pink;
        text-align: center;
        @include tablet {
          height: 90px;
          width: 90px;
        }
      }
      .pink_bubble {
        background-color: $dark-lilla;
        color: $purple;
      }
    }
  }
}
