//font
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crafty+Girls&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inspiration&display=swap");

$abril: "DM Serif Display", serif;
$inter: "Montserrat", sans-serif;
$girl: "Inspiration", cursive;

// $abril: "Abril Fatface", cursive;
// $inter: "Inter", sans-serif;
// $girl: "Crafty Girls", cursive;

//palette

$light-lilla: #e5beec;
$dark-lilla: #917fb3;
$purple: #2a2f4f;
$pink: #fde2f3;

//border
$def-bord-rad: 18px;

$def-box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
