//font
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inspiration&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");

$abril: "DM Serif Display", serif;
$inter: "Montserrat", sans-serif;
$girl: "Sacramento", cursive;
// $girl: "Yellowtail", cursive;
// $abril: "Abril Fatface", cursive;
// $inter: "Inter", sans-serif;
// $girl: "Crafty Girls", cursive;

//palette

$light-lilla: #e5beec;
$dark-lilla: #917fb3;
$purple: #2a2f4f;
$pink: #fde2f3;

//border
$def-bord-rad: 18px;

$def-box-shadow: 2px 2px 6px rgba(130, 129, 129, 0.3);

// VARIABLES

$tablet: 768px;
$desktop: 1024px;

//---------------------------------------------
//MEDIA QUERY

// Mobile
//--------------------------------------------------------------------//

@mixin tablet {
  @media (min-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}
